@media (max-width: 510px) {
    main{
        width: 340px;
        height: 280px;
    }

  #titulo-advice {
    font-size: 1.03rem;
  }

  #advice {
    font-size: 1.7rem;
  }

  #advice::after {
    content: url(../images/pattern-divider-mobile.svg);
    position: relative;
    top: 30%;
    right: 0;
  }

  .container-dado{
    top: 93%;
    right: 42.2%;
  }

  .imagem-dado{
    width: 45%;
    height: 45%;
  }
}
