@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

body{
    background-color: var(--cor-de-fundo-pagina);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
    background-color: var(--cor-de-fundo-cartao);
    width: 500px;
    height: 300px;
    border-radius: 12px;
}

#titulo-advice{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    color: var(--cor-verde);
    position: absolute;
    top: 15%;
}

#advice{
    color: white;
    text-align: center;
    font-size: 2rem;
    margin: 35px;
}

#advice::after{
    content: url(../images/pattern-divider-desktop.svg);
    position: absolute;
    top: 75%;
    right: 5%;
}

.container-dado{
    width: 50px;
    height: 50px;
    background-color: var(--cor-verde);
    position: absolute;
    top: 92%;
    right: 44.5%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-dado:hover{
    cursor: pointer;
}

.imagem-dado{
    width: 50%;
    height: 50%;
}

